* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2 {
    text-align: center;
}

.verde {
    background-color: rgb(59, 143, 59);
    list-style: none;
    padding: 10px;
}

.vermelho {
    background-color: rgb(173, 48, 48);
    list-style: none;
    padding: 10px;
}

#caixa {
    width: 40%;
    margin: 0 auto;
    border: solid darkred 1px;
}
